.wrapper {
	@include wrapper;
}

.full-width {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	position: relative;
	right: 50%;
	width: 100vw;
}

.skip {
	position: absolute;
	top: 0;
	left: 0;

	a {
		background-color: #fff;
		color: $citadel_blue;
		display: block;
		padding: $sp_2 $sp_6;
		font-size: $sm_font;
	}
}

.nowrap {
	white-space: nowrap;
}

.show-on-focus:not(:focus):not(:active) {
	clip: rect(0 0 0 0)!important;
	-webkit-clip-path: inset(50%)!important;
			clip-path: inset(50%)!important;
	height: 1px!important;
	overflow: hidden!important;
	position: absolute!important;
	width: 1px!important;
	white-space: nowrap!important;
}

.screen-reader-text {
	border: 0;
	clip: rect(0 0 0 0)!important;
	-webkit-clip-path: inset(50%);
			clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.mobile-hide {
	@include media(tablet) {
		display: none !important;
	}
}

.mobile-show {
	@include media(tablet) {
		display: block;
	}
}

/*
--------------------
Flex Layout
--------------------
*/

.flex-container {
	display: table;
	width: 100%;
	@include flex;

	@media screen\9 {
		@include clearfix;
	}
    
	@media screen\0 {
		@include clearfix;
	}
}

.flex-item {
	display: table-cell;
	@include flex;
}

@include media(tablet) {
	.flex-container,
	.flex-item {
		&.mobile-no-flex {
			display: block;
		}
	}
}

.flex-left {
	float: left;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
			justify-content: flex-start;
}

.flex-center {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
}

.flex-right {
	float: right;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
			justify-content: flex-end;
}

.flex-top {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
		-ms-flex-align: start;
			align-items: flex-start;
}

.flex-middle {
	vertical-align: middle;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
}

.flex-bottom {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
		-ms-flex-align: end;
			align-items: flex-end;
}

.flex-stretch {
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
		-ms-flex-align: stretch;
			align-items: stretch;
}

.flex-around {
	-webkit-justify-content: space-around;
		-ms-flex-pack: distribute;
			justify-content: space-around;
}

.flex-between {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
			justify-content: space-between;
}

.flex-wrap {
	-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
			flex-wrap: wrap;
}

.flex-col {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
}

.flex-row {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
		-ms-flex-direction: row;
			flex-direction: row;
}

.flex-col-rev {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
}

.flex-row-rev {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
			flex-direction: row-reverse;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.cit-navy { color: $citadel_navy; }
.cit-navy-80 { color: $citadel_navy_80; }
.cit-navy-60 { color: $citadel_navy_60; }
.cit-navy-40 { color: $citadel_navy_40; }
.cit-navy-20 { color: $citadel_navy_20; }
.cit-navy-bg { background-color: $citadel_navy; }
.cit-navy-bg-80 { background-color: $citadel_navy_80; }
.cit-navy-bg-60 { background-color: $citadel_navy_60; }
.cit-navy-bg-40 { background-color: $citadel_navy_40; }
.cit-navy-bg-20 { background-color: $citadel_navy_20; }

.cit-blue { color: $citadel_blue; }
.cit-blue-80 { color: $citadel_blue_80; }
.cit-blue-60 { color: $citadel_blue_60; }
.cit-blue-40 { color: $citadel_blue_40; }
.cit-blue-20 { color: $citadel_blue_20; }
.cit-blue-bg { background-color: $citadel_blue; }
.cit-blue-bg-80 { background-color: $citadel_blue_80; }
.cit-blue-bg-60 { background-color: $citadel_blue_60; }
.cit-blue-bg-40 { background-color: $citadel_blue_40; }
.cit-blue-bg-20 { background-color: $citadel_blue_20; }

.cit-barracks { color: $pt_barracks; }
.cit-barracks-bg { background-color: $pt_barracks; }

.cit-shako { color: $shako; }
.cit-shako-bg { background-color: $shako; }

.cit-gold { color: $band_gold; }
.cit-gold-bg { background-color: $band_gold; }

.cit-sash { color: $officer_sash; }
.cit-sash-bg { background-color: $officer_sash; }