body.dimmer-active {

	overflow: hidden;

	#dimmer-overlay {
		opacity: 1;
		z-index: 80;
	}

}

.wrapper {
	@include wrapper;
}

.full-width {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	position: relative;
	right: 50%;
	width: 100vw;
}

.skip {
	position: absolute;
	top: 0;
	left: 0;

	a {
		background-color: #fff;
		color: $citadel_blue;
		display: block;
		padding: $sp_2 $sp_6;
		font-size: $sm_font;
	}
}

.nowrap {
	white-space: nowrap;
}

#dimmer-overlay {
	background-color: $shako_80;
	position: fixed;
	z-index: -20;
	width: 100vw;
	height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	@include element-transition(opacity);
}

.show-on-focus:not(:focus):not(:active) {
	clip: rect(0 0 0 0)!important;
	-webkit-clip-path: inset(50%)!important;
			clip-path: inset(50%)!important;
	height: 1px!important;
	overflow: hidden!important;
	position: absolute!important;
	width: 1px!important;
	white-space: nowrap!important;
}

.screen-reader-text {
	border: 0;
	clip: rect(0 0 0 0)!important;
	-webkit-clip-path: inset(50%);
			clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

/*
--------------------
Flex Layout
--------------------
*/

.flex-container {
	@include flex-container;
}

.flex-item {
	@include flex-item;
}

@include media(tablet) {
	.flex-container,
	.flex-item {
		&.mobile-no-flex {
			display: block;
		}
	}
}

.flex-left {
	@include flex-left;
}

.flex-center {
	@include flex-center;
}

.flex-right {
	@include flex-right;
}

.flex-top {
	@include flex-top;
}

.flex-middle {
	@include flex-middle;
}

.flex-bottom {
	@include flex-bottom;
}

.flex-stretch {
	@include flex-stretch;
}

.flex-around {
	@include flex-around;
}

.flex-between {
	@include flex-between;
}

.flex-wrap {
	@include flex-wrap;
}

.flex-col {
	@include flex-col;
}

.flex-row {
	@include flex-row;
}

.flex-col-rev {
	@include flex-col-rev;
}

.flex-row-rev {
	@include flex-row-rev;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.cit-navy { color: $citadel_navy; }
.cit-navy-80 { color: $citadel_navy_80; }
.cit-navy-60 { color: $citadel_navy_60; }
.cit-navy-40 { color: $citadel_navy_40; }
.cit-navy-20 { color: $citadel_navy_20; }
.cit-navy-bg { background-color: $citadel_navy; }
.cit-navy-bg-80 { background-color: $citadel_navy_80; }
.cit-navy-bg-60 { background-color: $citadel_navy_60; }
.cit-navy-bg-40 { background-color: $citadel_navy_40; }
.cit-navy-bg-20 { background-color: $citadel_navy_20; }

.cit-blue { color: $citadel_blue; }
.cit-blue-80 { color: $citadel_blue_80; }
.cit-blue-60 { color: $citadel_blue_60; }
.cit-blue-40 { color: $citadel_blue_40; }
.cit-blue-20 { color: $citadel_blue_20; }
.cit-blue-bg { background-color: $citadel_blue; }
.cit-blue-bg-80 { background-color: $citadel_blue_80; }
.cit-blue-bg-60 { background-color: $citadel_blue_60; }
.cit-blue-bg-40 { background-color: $citadel_blue_40; }
.cit-blue-bg-20 { background-color: $citadel_blue_20; }

.cit-barracks { color: $pt_barracks; }
.cit-barracks-bg { background-color: $pt_barracks; }

.cit-shako { color: $shako; }
.cit-shako-bg { background-color: $shako; }

.cit-gold { color: $band_gold; }
.cit-gold-bg { background-color: $band_gold; }

.cit-sash { color: $officer_sash; }
.cit-sash-bg { background-color: $officer_sash; }