// Small devices (landscape phones and down)
@media screen and (max-width: 42.09em) {
	.main-header {

		.header-logo:not(.main-logo) {

			img {
				height: auto;
				width: 8vw;
    			max-width: 44px;
    			min-width: 30px;
			}
		}

		.lockup-text {

			.parent-site {
			    font-size: 2.5vw;
			}

			.current-site {
			    font-size: 5vw;
			}
		}
	}
}