@mixin basic-transition {
	-webkit-transition: all ease .4s;
	-moz-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
}

@mixin flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin flex-grow ($size) {
	@supports not (display: flex) {
		width: $size'%';
	}
	flex-grow: $size;
}

@mixin clearfix {
	&::after {
		content: "";
		clear: both;
	}
}

@mixin wrapper {
	padding-left: 5.62vw;
	padding-right: 5.62vw;
}

@mixin absolute_center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin absolute_center_unset {
	position: relative;
	transform: none;
	top: 0;
	left: 0;
}