h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font__heading;
	font-weight: 700;
	line-height: $font__line-height-heading;
	color: $citadel_navy;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size: $font__size-xl;
}

h2 {
	font-size: $font__size-lg;
}

h3 {
	font-size: $font__size-lg;
}

h4 {
	font-size: $font__size-md;
}

h5 {
	font-size: $font__size-sm;
}

h6 {
	font-size: $font__size-xs;
}