/*
--------------------
Fonts
--------------------
*/

$body_font: 'open-sans', helvetica, arial, sans-serif;
$header_font: 'adobe-garamond-pro', times, serif;

/*
--------------------
Colors
--------------------
*/

// Standard
$citadel_navy: #1F3A60;
$citadel_blue: #3975B7;
$pt_barracks: #CEC7BF;
$shako: #282E36;
$band_gold: #CDA31F;
$officer_sash: #7D2935;
$citadel_dark_navy: #1A3152;

// Shades
$citadel_navy_80: rgba(31, 58, 96, 0.8);
$citadel_navy_60: rgba(31, 58, 96, 0.6);
$citadel_navy_40: rgba(31, 58, 96, 0.4);
$citadel_navy_20: rgba(31, 58, 96, 0.2);

$citadel_blue_80: rgba(57, 117, 183, 0.8);
$citadel_blue_60: rgba(57, 117, 183, 0.6);
$citadel_blue_40: rgba(57, 117, 183, 0.4);
$citadel_blue_20: rgba(57, 117, 183, 0.2);

$pt_barracks_80: rgba(206, 199, 191, 0.8);
$pt_barracks_60: rgba(206, 199, 191, 0.6);
$pt_barracks_40: rgba(206, 199, 191, 0.4);
$pt_barracks_20: rgba(206, 199, 191, 0.2);

$shako_80: rgba(40, 46, 54, 0.8);
$shako_60: rgba(40, 46, 54, 0.6);
$shako_40: rgba(40, 46, 54, 0.4);
$shako_20: rgba(40, 46, 54, 0.2);

$band_gold_80: rgba(205, 163, 31, 0.8);
$band_gold_60: rgba(205, 163, 31, 0.6);
$band_gold_40: rgba(205, 163, 31, 0.4);
$band_gold_20: rgba(205, 163, 31, 0.2);

$officer_sash_80: rgba(125, 41, 53, 0.8);
$officer_sash_60: rgba(125, 41, 53, 0.6);
$officer_sash_40: rgba(125, 41, 53, 0.4);
$officer_sash_20: rgba(125, 41, 53, 0.2);

/*
--------------------
Modular Sizes
--------------------
*/

$size_1: .42rem;
$size_2: .47rem;
$size_3: .56rem;
$size_4: .63rem;
$size_5: .75rem;
$size_6: .84rem;
$size_7: 1rem;
$size_8: 1.13rem;
$size_9: 1.33rem;
$size_10: 1.5rem;
$size_11: 1.77rem;
$size_12: 2rem;
$size_13: 2.37rem;
$size_14: 2.67rem;
$size_15: 3.16rem;
$size_16: 3.56rem;
$size_17: 4.21rem;
$size_18: 4.74rem;
$size_19: 5.62rem;

// Fonts
$xxs_font: $size_6;
$xs_font: $size_7;
$sm_font: $size_8;
$md_font: $size_9;
$lg_font: $size_10;
$xl_font: $size_11;
$xxl_font: $size_12;

// Spacing
$sp_1: $size_1;
$sp_2: $size_3;
$sp_3: $size_5;
$sp_4: $size_7;
$sp_5: $size_9;
$sp_6: $size_11;
$sp_7: $size_13;
$sp_8: $size_15;
$sp_9: $size_17;
$sp_10: $size_19;
