.entry-header {
	background-color: $pt_barracks_20;
	padding-top: $sp_8;
	padding-bottom: $sp_8;

	h1 {
		margin-top: $sp_4;
		margin-bottom: 0;
		text-transform: capitalize;
	}

	&.home-header {

		h1 {
			margin-top: 0;
		}
	}

	&.header-image {
		background-repeat: no-repeat;
		background-color: $citadel_navy;
		position: relative;
		overflow: hidden;
		height: 30vw;

		h1 {
			z-index: 2;
			width: 100%;
			color: #ffffff;
			padding-bottom: $sp_6;
			@include absolute_center;
		}

		img {
			z-index: 1;
			width: 100%;
			height: auto;
			opacity: .125;
			@include absolute_center;
		}
	}
}

#breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: $xxs_font;
	text-align: center;

	li {
		display: inline-block;
	}

	i {
		display: inline-block;
		margin: 0 4px;
	}
}

.page-content {
	padding-top: $sp_9;
	padding-bottom: $sp_9;
}

.sidebar {
	width: $sidebar_width;
	border-top: 5px solid #3975b7;
	padding: $sp_5 $sp_4;

	h3 {
		margin-top: 0;
		font-size: $size_9;
		line-height: 1.2;
	}

	nav ul {
		font-size: $xs_font; 

		li {
			margin-bottom: $sp_2;
		}

		a {
			color: $citadel_blue;
			border-bottom-color: #ffffff;
			font-weight: bold;
			text-transform: capitalize;

			&:hover {
				border-bottom-color: $citadel_blue;
			}
		}

		.sub-menu {
			display: none;
			padding: $sp_2 $sp_4;
		}
	}
	
	.leftmenu-toggle {
		display: none;
		color: #1F3A60;
	    padding: 0;
	    border: none;
	    background-color: #fff;
	    margin-right: $sp_1;
	}
}

#leftmenu {

	.current-menu-item {
		position: relative;

		&::before {
			position: absolute;
			margin-right: $sp_2;
			right: 100%;
			color: $citadel_navy;
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			content: "\f30b";
		}
	}

	> :last-child {
		margin-bottom: 0;
	}
}

.content-container {
	width: 100%;
}

.entry-content {
	padding-left: $site_padding;
	width: 100%;

	&.no-sidebar {
		padding-left: 0;
	}

	p {
		margin-top: 0;
		margin-bottom: $sp_6;
	}

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}
}