
// Font and typographic variables

$font__body: 'open-sans', helvetica, arial, sans-serif;
$font__heading: 'poynter-oldstyle-display', 'adobe-garamond-pro', times, serif;
$font__code: Menlo, monaco, Consolas, Lucida Console, monospace;
$font__pre: Courier, monospace;

$xxs_font: $size_6;
$xs_font: $size_7;
$sm_font: $size_8;
$md_font: $size_9;
$lg_font: $size_10;
$xl_font: $size_11;
$xxl_font: $size_12;

$font__size_base: 18px;
$font__size-ratio: 1.2;

$font__size-xxs:   1rem / (1.5 * $font__size-ratio);
$font__size-xs:    1rem / (1.25 * $font__size-ratio);
$font__size-sm:    1rem / (1 * $font__size-ratio);
$font__size-md:    1rem * (1 * $font__size-ratio);
$font__size-lg:    1rem * (1.5 * $font__size-ratio);
$font__size-xl:    1rem * (2 * $font__size-ratio);
$font__size-xxl:   1rem * (2.5 * $font__size-ratio);
$font__size-xxxl:  1rem * (3 * $font__size-ratio);

$font__line-height-body: 1.8;
$font__line-height-pre: 1.6;
$font__line-height-heading: 1.2;
$font__line-height-double:  2 * $font__line-height-heading;