a img {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: $size__spacing-unit 0;
}

hr {
	background-color: $color__text-light;
	border: 0;
	height: 1px;
}

@import 'lists';

img {
	height: auto;
	max-width: 100%;
	position: relative;
}

figure {
	margin: 0;
}

blockquote {
	border-left: 5px solid $citadel_blue;
	margin-left: 0;
	padding: 0 0 0 $size__spacing-unit;

	> p {
		margin: 0 0 $size__spacing-unit;
	}

	cite {
		color: $color__text-light;
	}
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	background-color: $citadel_navy;
	border: 2px solid $citadel_navy;
	padding: $sp_2;
	cursor: pointer;
	color: #ffffff;
	@include basic-transition;

	&:hover,
	&:focus {
		color: $citadel_navy;
		background-color: #ffffff;
	}

	&:disabled {
		background-color: $citadel_navy_80;
		color: #ffffff;
		cursor: not-allowed;
	}
}

video {
	max-width: 100%;
}

audio {
	max-width: 100%;
}

cite {
	font-size: $font__size-sm;
}

@import 'tables';