
header[role="banner"] {
	background-color: $citadel_navy;

	.main-header a,
	.top-header a {
		color: #ffffff;
	}
}

.right-header {
 	width: 100%;

 	@include media( 'tablet' ) {
		width: auto;
	}
}

.top-header {
	background-color: $citadel_dark_navy;
	position: relative;
	padding: 0;

	.institution-title {
		display: none;
		border-bottom: none;

		@include media( 'tablet' ) {
			@include flex-item;
		}
	}

	img {
		width: 100%;
		max-width: 125px;
	}

	.secondary-nav {
		display: none;
		position: fixed;
		bottom: 0;
		right: 0;
		width: 100%;
		background-color: $citadel_navy;
		z-index: 98;

		@include media( 'tablet' ) {
			@include flex;
			position: static;
			z-index: inherit;
			background-color: transparent;
		}

		ul {
			display: block;
			margin: $sp_2 0;
			padding: 0;

			@include media( 'tablet' ) {
				margin: 0;
				@include flex;
			}
		}

		li {
			display: block;
			text-align: center;
			font-size: $size_8;

			@include media( 'tablet' ) {
				font-size: $font__size-xs;
				@include flex;
			}
		}

		a {
			margin: 0;
			padding: $sp_2 $sp_4;
			display: block;
			border-bottom: 1px solid transparent;

			@include media( 'tablet' ) {
				margin: 0 $sp_2;
				white-space: nowrap;
				display: inline;
				padding: 0;
			}
			

			&:hover,
			&:focus {
				color: #ffffff;
				border-bottom: 1px solid;
			}
		}
	}

	.search-toggle {
		display: none;
		border: none;
		margin-left: $sp_2;
		font-size: $font__size-xs;
		padding: $sp_1 $sp_2;

		@include media( 'tablet' ) {
			display: block;
		}
	}

	.tools-toggle {
		display: none;
		background-color: transparent;
		font-size: $font__size-xs;
		padding: $sp_1 $sp_2;
		border: none;

		@include media( 'tablet' ) {
			display: block;
		}

		span {
			border-bottom: 1px solid transparent;
			@include basic-transition;
		}

		&::after {
			margin-left: $sp_1;
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			content: "\f078";
			font-size: $font__size-xs;
		}

		&:hover,
		&:focus {
			color: #ffffff;
		}

		&:hover span,
		&:focus span {
			border-bottom: 1px solid;
			color: #ffffff;
		}
	}
}

.main-header {
	padding-top: $sp_5;
	padding-bottom: $sp_5;

	.header-logo {
		border-bottom: none;

		img {
			height: 90px;
			width: auto;
			max-width: none;
			transition: all ease .5s;
		}

		&:not(.main-logo) img {
			height: auto;
			max-width: 44px;
			min-width: 30px;
		}

		.main-logo img {
			height: auto;
			width: 100%;
			max-width: 330px;
		}

	}

	.lockup-text {
		padding-top: $sp_3;
	    padding-left: $sp_5;

		a {
			border-bottom-color: transparent;
			letter-spacing: .75px;
		    font-family: $font__heading;
			@include basic-transition;

			&:hover {
				color: #ffffff;
				border-bottom-color: #ffffff;
			} 
		}

		.parent-site {
			line-height: 1;
		    font-size: $size_7;
		    margin-top: $sp_1;
		}

		.current-site {
		    font-size: $size_10;
		    line-height: 1;
		}
	}

	.main-cta {
		display: none;

		@include media(tablet) {
			@include flex-item;
		}

		a {
			background-color: $citadel_blue;
			border-bottom: none;
			font-family: $font__body;
			padding: $sp_1 $sp_4;
			font-size: $font__size-sm;
			text-transform: uppercase;
			font-weight: 600;
			white-space: nowrap;
    		margin: $sp_1 0 $sp_1 $sp_1;
			@include basic-transition;

			&:hover,
			&:focus {
				color: $citadel_blue;
				background-color: #ffffff;
			}
		}
	}

	.mobile-buttons {
		margin-left: $sp_2;

		@include media(tablet) {
			display: none;
		}

		button {
			background-color: $citadel_blue;
			color: #ffffff;
			padding: $sp_3 $sp_4;
			font-size: $md_font;
			margin-left: $sp_1;

			&::before,
			&::after {
				margin: 0;
				font-size: $md_font;
			}

			&:hover,
			&:focus {
				background-color: #ffffff;
				color: $citadel_blue;
			}
		}

		.search-toggle {

			&::before {
				display: none;
			}
		}
	}

	.menu-toggle {

	}
}

#tools {
	position: fixed;
	display: none;
	bottom: 0;
	width: 100%;
	z-index: 90;
	background-color: $citadel_navy;

	@include media(tablet) {
		position: absolute;
		bottom: unset;
		left: 0;
		right: 0;
		z-index: 9;
		top: 100%;
	}

	ul {
		display: block;
		width: 100%;
		margin: 0;
		list-style: none;
		height: 100%;

		@include media(tablet) {
			@include flex;
		}

		li {
			text-align: center;
			width: calc(50% - 4px);
			display: inline-block;
			padding: 1rem;

			@include media(tablet) {
				@include flex;
				width: auto;
				padding: 0;
			}

			a {
				border-bottom-color: $citadel_navy;

				&:hover {
					border-bottom-color: #ffffff;
					color: #ffffff;
				}
			}

			p {
				font-size: $font__size-sm;
				margin: 0;
			}

			i {
				font-size: $font__size-md;
				margin-bottom: $sp_2;
			}
		}
	}
}

button.search-toggle {
	background-color: $citadel_blue;

	&::before {
		margin-right: $sp_1;
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content: "\f002";
		font-size: $xxs_font;
	}

	&:hover,
	&:focus {
		background-color: #ffffff;
	}
}