.wrapper {
	padding-left: 5.62vw;
	padding-right: 5.62vw;
}

.full-width {
	left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;
    right: 50%;
    width: 100vw;
}

.skip {
	position: absolute;
	top: 0;
	left: 0;
}

.show-on-focus:not(:focus):not(:active) {
	clip: rect(0 0 0 0)!important;
    -webkit-clip-path: inset(50%)!important;
    clip-path: inset(50%)!important;
    height: 1px!important;
    overflow: hidden!important;
    position: absolute!important;
    width: 1px!important;
    white-space: nowrap!important;
}

/*
--------------------
CSS Grid
--------------------
*/

.grid-container {
	@supports (display: grid) {
		@include display-grid;
	}
	
}

.grid-child {
  @include grid-child(2, 3, 2, 3);
}

/*
--------------------
Colors
--------------------
*/

.cit-navy { color: $citadel_navy; }
.cit-navy-80 { color: $citadel_navy_80; }
.cit-navy-60 { color: $citadel_navy_60; }
.cit-navy-40 { color: $citadel_navy_40; }
.cit-navy-20 { color: $citadel_navy_20; }
.cit-navy-bg { background-color: $citadel_navy; }
.cit-navy-bg-80 { background-color: $citadel_navy_80; }
.cit-navy-bg-60 { background-color: $citadel_navy_60; }
.cit-navy-bg-40 { background-color: $citadel_navy_40; }
.cit-navy-bg-20 { background-color: $citadel_navy_20; }

.cit-blue { color: $citadel_blue; }
.cit-blue-80 { color: $citadel_blue_80; }
.cit-blue-60 { color: $citadel_blue_60; }
.cit-blue-40 { color: $citadel_blue_40; }
.cit-blue-20 { color: $citadel_blue_20; }
.cit-blue-bg { background-color: $citadel_blue; }
.cit-blue-bg-80 { background-color: $citadel_blue_80; }
.cit-blue-bg-60 { background-color: $citadel_blue_60; }
.cit-blue-bg-40 { background-color: $citadel_blue_40; }
.cit-blue-bg-20 { background-color: $citadel_blue_20; }

.cit-barracks { color: $pt_barracks; }
.cit-barracks-bg { background-color: $pt_barracks; }

.cit-shako { color: $shako; }
.cit-shako-bg { background-color: $shako; }

.cit-gold { color: $band_gold; }
.cit-gold-bg { background-color: $band_gold; }

.cit-sash { color: $officer_sash; }
.cit-sash-bg { background-color: $officer_sash; }
