.wrapper {
	padding-left: 5.62vw;
	padding-right: 5.62vw;
}

.full-width {
	left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;
    right: 50%;
    width: 100vw;
}

.skip {
	position: absolute;
	top: 0;
	left: 0;

    a {
        background-color: #fff;
        color: $citadel_blue;
        display: block;
        padding: $sp_2 $sp_6;
        font-size: $sm_font;
    }
}

.nowrap {
    white-space: nowrap;
}

.show-on-focus:not(:focus):not(:active) {
	clip: rect(0 0 0 0)!important;
    -webkit-clip-path: inset(50%)!important;
    clip-path: inset(50%)!important;
    height: 1px!important;
    overflow: hidden!important;
    position: absolute!important;
    width: 1px!important;
    white-space: nowrap!important;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

button.search-toggle {
    background-color: $citadel_blue;

    &::before {
        margin-right: $sp_1;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f002";
        font-size: $xxs_font;
    }

    &:hover,
    &:focus {
        background-color: #ffffff;
    }
}

/*
--------------------
Layout
--------------------
*/

.table-container {
    display: table;
    width: 100%;
}

.table-element {
    display: table-cell;
    width: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear::after {
    content: '';
    display: table;
    clear: both;
}

.align-top {
    vertical-align: top;
}

.align-middle {
    vertical-align: middle;
}

.align-bottom {
    vertical-align: bottom;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/*
--------------------
Colors
--------------------
*/

.cit-navy { color: $citadel_navy; }
.cit-navy-80 { color: $citadel_navy_80; }
.cit-navy-60 { color: $citadel_navy_60; }
.cit-navy-40 { color: $citadel_navy_40; }
.cit-navy-20 { color: $citadel_navy_20; }
.cit-navy-bg { background-color: $citadel_navy; }
.cit-navy-bg-80 { background-color: $citadel_navy_80; }
.cit-navy-bg-60 { background-color: $citadel_navy_60; }
.cit-navy-bg-40 { background-color: $citadel_navy_40; }
.cit-navy-bg-20 { background-color: $citadel_navy_20; }

.cit-blue { color: $citadel_blue; }
.cit-blue-80 { color: $citadel_blue_80; }
.cit-blue-60 { color: $citadel_blue_60; }
.cit-blue-40 { color: $citadel_blue_40; }
.cit-blue-20 { color: $citadel_blue_20; }
.cit-blue-bg { background-color: $citadel_blue; }
.cit-blue-bg-80 { background-color: $citadel_blue_80; }
.cit-blue-bg-60 { background-color: $citadel_blue_60; }
.cit-blue-bg-40 { background-color: $citadel_blue_40; }
.cit-blue-bg-20 { background-color: $citadel_blue_20; }

.cit-barracks { color: $pt_barracks; }
.cit-barracks-bg { background-color: $pt_barracks; }

.cit-shako { color: $shako; }
.cit-shako-bg { background-color: $shako; }

.cit-gold { color: $band_gold; }
.cit-gold-bg { background-color: $band_gold; }

.cit-sash { color: $officer_sash; }
.cit-sash-bg { background-color: $officer_sash; }
