.wrapper {
	padding-left: 5.62vw;
	padding-right: 5.62vw;
}

/*
--------------------
Colors
--------------------
*/

.cit-navy { color: $citadel_navy; }
.cit-navy-80 { color: $citadel_navy_80; }
.cit-navy-60 { color: $citadel_navy_60; }
.cit-navy-40 { color: $citadel_navy_40; }
.cit-navy-20 { color: $citadel_navy_20; }
.cit-navy-bg { background-color: $citadel_navy; }
.cit-navy-bg-80 { background-color: $citadel_navy_80; }
.cit-navy-bg-60 { background-color: $citadel_navy_60; }
.cit-navy-bg-40 { background-color: $citadel_navy_40; }
.cit-navy-bg-20 { background-color: $citadel_navy_20; }

.cit-blue { color: $citadel_blue; }
.cit-blue-80 { color: $citadel_blue_80; }
.cit-blue-60 { color: $citadel_blue_60; }
.cit-blue-40 { color: $citadel_blue_40; }
.cit-blue-20 { color: $citadel_blue_20; }
.cit-blue-bg { background-color: $citadel_blue; }
.cit-blue-bg-80 { background-color: $citadel_blue_80; }
.cit-blue-bg-60 { background-color: $citadel_blue_60; }
.cit-blue-bg-40 { background-color: $citadel_blue_40; }
.cit-blue-bg-20 { background-color: $citadel_blue_20; }

.cit-barracks { color: $pt_barracks; }
.cit-barracks-bg { background-color: $pt_barracks; }

.cit-shako { color: $shako; }
.cit-shako-bg { background-color: $shako; }

.cit-gold { color: $band_gold; }
.cit-gold-bg { background-color: $band_gold; }

.cit-sash { color: $officer_sash; }
.cit-sash-bg { background-color: $officer_sash; }
