.main-nav {
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 98;
	border-top: 1px solid $citadel_blue;

	@include media( 'tablet' ) {
		display: block;
		position: static;
		border-top: none;

	}

	ul {
		padding: 0;
		margin: 0;
		position: relative;
		list-style: none;
	}

	.wrapper {
		padding-left: 0;
		padding-right: 0;

		@include media( 'tablet' ) {
			padding-left: $site_padding;
			padding-right: $site_padding;
		}

		> ul {
			display: block;
			max-height: calc(100vh - 80px);
			overflow-y: auto;

			@include media( 'tablet' ) {
				@include flex;
				max-height: 100%;
				overflow-y: visible;
			}
		}
	}

	.wrapper > ul > li {
		text-transform: uppercase;
		text-align: center;
		@include flex-grow (1);
		@include basic-transition;
		display: block;

		@include media( 'tablet' ) {
			@include flex-item;
		}

		> a {
			color: #ffffff;
			padding: $sp_1 $sp_4;
			display: block;
			width: 100%;
			font-size: $font__size-md;
			font-weight: normal;
			cursor: pointer;
			border-bottom: none;
			font-weight: 600;
			@include basic-transition;

			@include media( 'tablet' ) {
				font-size: $font__size-sm;
				font-weight: 600;
				padding: $sp_1 0;
			}
		}

		&:hover,
		&:focus {
			background-color: #ffffff;
		}

		&:hover > a,
		&:focus > a {
			color: $citadel_navy;
			background-color: $pt_barracks_40;
		}
	}

	.has-submenu {

		&:not(.wide-nav) {
			position: relative;
		}

		> a::after {
			margin-left: $sp_1;
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			content: "\f078";
			font-size: $font__size-xs;
		}

		&.active {

			> .primary {
				background-color: #ffffff;
				color: $citadel_navy;
			}

			> .submenu {
				z-index: 92;
			}
		}
	}

	.submenu {
		top: 100%;
		left: -1px;
		z-index: 90;
		display: none;
		background-color: #ffffff;
		display: none;
		text-transform: none;
		text-align: left;
		color: $shako;
		position: static;
		width: 100%;
		border: none;

		@include media( 'tablet' ) {
			width: calc(100% + 2px);
			position: absolute;
			border: 1px solid $citadel_blue;
			border-top: 0;
		}

		.flex-container {
			display: block;
			padding: 0;

			@include media( 'tablet' ) {
				padding: $sp_6 $sp_3;
				@include flex;
			}

		}

		.nav-title {
			font-size: $font__size-md;
			margin-top: 0;
			padding-top: 1rem;

			@include media( 'tablet' ) {
				padding-top: 0;
			}
		}

		.nav-col {
			flex-basis: 0;
			flex: 1 1 0px;
			padding: 0 $sp_3;
			font-weight: bold;
			display: block;
			padding-bottom: 1rem;

			@include media( 'tablet' ) {
				padding-bottom: 0;
				display: block;

			}

			> :last-child {
				margin-bottom: 0;
			}

			a {
				font-size: $font__size-sm;
			}
		}

		.nav-link-description {
			display: none;
			font-weight: normal;

			@include media( 'tablet' ) {
				display: block;
			}
		}
	}

	ul.submenu {

		text-align: center;
		font-weight: bold;

		li {
			margin-top: -1px;
		}

		li:nth-last-child(1) a {
			border-bottom: none;
		}

		a {
			color: $citadel_blue;
			font-size: $font__size-sm;
			text-transform: none;
			padding: $sp_1;
			display: block;
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;
			@include basic-transition;

			&:hover,
			&:focus {
				border-top: 1px solid $citadel_blue;
				border-bottom: 1px solid $citadel_blue;
			}
		}
	}

	div.submenu {

	}
}