.entry-header {
	background-color: $pt_barracks_20;
	padding-top: $sp_8;
	padding-bottom: $sp_8;

	h1 {
		margin-top: $sp_3;
		font-size: $font__size-xxl;
		margin-bottom: 0;
	}

	&.home-header {

		h1 {
			margin-top: 0;
		}
	}

	&.header-image {
		background-repeat: no-repeat;
		background-color: $citadel_navy;
		position: relative;
		overflow: hidden;
		height: 30vw;
		@include media(tablet) {
			height: auto;
		}

		h1 {
			z-index: 2;
			width: 100%;
			color: #ffffff;
			padding-bottom: $sp_6;
			@include absolute_center;
			@include media(tablet) {
				@include absolute_center_unset;
				padding: 0;
			}
		}

		img {
			z-index: 1;
			width: 100%;
			height: auto;
			opacity: .125;
			@include absolute_center;
			@include media(tablet) {
				min-height: 100%;
				width: auto;
				max-width: none;
			}
		}
	}
}

#breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: $font__size-xs;
	text-align: center;

	li {
		display: inline-block;
	}

	i {
		display: inline-block;
		margin: 0 4px;
	}
}

.post-meta {
	font-size: $font__size-xs;
	text-align: center;
	margin: 0;
	padding: 0;

	.attribution-meta {
		margin: 0 $sp_2;
		font-weight: bold;
	}

	.date-meta {
		margin: 0 $sp_2;

		&::before {
			margin-right: $sp_1;
			font-family: "Font Awesome 5 Free";
			content: "\f073";
			font-size: $font__size-xs;
		}
	}

	.category-meta {
		margin: 0 $sp_2;

		&::before {
			margin-right: $sp_1;
			font-family: "Font Awesome 5 Free";
			content: "\f03a";
			font-weight: 900;
			font-size: $font__size-xs;
		}
	}

	.tag-meta {
		margin: 0 $sp_2;
		text-transform: capitalize;

		&::before {
			margin-right: $sp_1;
			font-family: "Font Awesome 5 Free";
			content: "\f02b";
			font-weight: 900;
			font-size: $font__size-xs;
		}
	}
}

.page-content {
	padding-top: $sp_9;
	padding-bottom: $sp_9;
}

.content-container {
	width: 100%;
}

.entry-content {
	padding-left: $site_padding;
	width: 100%;
	@include media(tablet) {
		padding-left: 0;
	}

	&.no-sidebar {
		padding-left: 0;
	}

	p {
		margin-top: 0;
		margin-bottom: $sp_6;
	}

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}
}