// Medium devices (tablets and down)
@media screen and (max-width: 56.12em) {
	.mobile-hide {
	    display: none;
	}

	.mobile-show {
	    display: block;
	}

	.main-header {
		.mobile-buttons {
			@include flex;
		}
	}

	.main-header {

		.main-logo {

			img {
				height: auto;
				width: 100%;
				max-width: 330px;
			}
		}
	}
}